.wrapper{
    width: fit-content;
    display: flex!important;
    flex-direction: row;
    gap: 8px;
    margin-bottom: 8px;
    padding:2px 16px;
    justify-content: center;
    background-color: #e8cba2;
}