/* TODO: implement this color palette in a way that the page looks better. */

$custom-blue: #263755;
$custom-gray: #5E5A5B;
$custom-cream: #E0D0B6;
$custom-brown: #A9976F;
$custom-dark: #353945;

body{
    background-color: #ece7e7;
}